name: Docker Build and Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint flask

    - name: Lint with Pylint
      run: pylint app.py --exit-zero
    
    - name: install test dependencies
      run: pip install pytest pytest-cov

    - name: Run tests with Pytest
      run: pytest tests/ -v --cov=app --cov-report=term

    - name: Build Docker image
      run: docker build -t flask-app:${{ github.sha }} .
      
    - name: Run container
      run: docker run -d --name test-flask -p 5001:5000 flask-app:${{ github.sha }}
      
    - name: Wait for container to start
      run: sleep 5
      
    - name: Test health endpoint
      run: |
        curl -f http://localhost:5001/ || exit 1
        curl -f http://localhost:5001/health || exit 1
        
    - name: Stop container
      run: docker stop test-flask
